In [ ]:
import pandas as pd

### Two main data structures: Series and Dataframe

In [ ]:
# Creating a series
series = pd.Series(["Nepal", "India", "China"])
series

In [ ]:
# Creating another pandas series
capitals = pd.Series(["Kathmandu", "New Delhi", "Beijing"])
capitals

In [ ]:
# Creating our first dataframe from above series
df = pd.DataFrame({"Country": series, "Capital": capitals})
df

In [ ]:
# Add row to a dataframe
new_row = {"Country": "England", "Capital": "London"}
df = df.append(new_row, ignore_index=True)
df

In [ ]:
# Add column to dataframe
new_column = ["Asia", "Asia", "Asia", "Europe"]
df["Continent"] = new_column
df

In [ ]:
# Deleting rows in a dataframe
df = df.drop([3])
df

In [ ]:
# Deleting columns in a dataframe
df = df.drop(columns=["Continent", "Capital"])
df

Most of the time we donot create dataframe from series. We import dataframe from spreadsheet or CSVs.

In [ ]:
car_sales = pd.read_csv('car_sales.csv')
car_sales

In [ ]:
# importing from json or excel sheet
# car_json = pd.read_json()
# car_excel = pd.read_excel()

 The headings on the top in bold are the column names. In the left hand side there is a index column. Each index refers to a particular row in the dataframe. In a pandas dataframe row is axis 0 and column is axis 1 which is a very important thing to remember.

In [ ]:
# Export a dataframe
car_sales.to_csv("exported_car_sales.csv")

In [ ]:
!ls

In [ ]:
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

In [ ]:
# Export the dataframe without the index column
car_sales.to_csv("exported_car_sales.csv", index=False)

In [ ]:
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

### Describe data with pandas

In [ ]:
# information about data types of columns
car_sales.dtypes

In [ ]:
# view all the columns of the dataframe
car_sales.columns

In [ ]:
car_sales.describe()

 There is no price description above because Price column is an object data type and not integer.

In [ ]:
car_sales.info()

In [ ]:
# Getting mean of column from dataframe
car_sales['Traveled (KM)'].mean()

In [ ]:
# Getting sum of all dataframe columns
car_sales.sum()

In [ ]:
# Getting sum of individual columns
car_sales.Doors.sum()

In [ ]:
# Getting the shape of dataframe
car_sales.shape

In [ ]:
car_sales

### Selecting and Viewing data

In [ ]:
# Getting the top 5 rows of the dataframe
car_sales.head()

In [ ]:
# Getting the top 3
car_sales.head(3)

In [ ]:
# Getting the bottom 5 rows of the dataframe
car_sales.tail()

### Loc and Iloc for indexing in a dataframe

In [ ]:
# Create a new series to demonstrate the difference between loc and iloc
colors = pd.Series(["red", "green", "blue", "purple"], index = [1, 2, 3,2])
colors

In [ ]:
colors.loc[2]

In [ ]:
colors.iloc[2]

In [ ]:
# using loc and iloc on our car sales dataframe
car_sales

In [ ]:
# loc refers to index
car_sales.loc[3]

In [ ]:
# iloc refers to position
car_sales.iloc[3]

In [ ]:
# selecting one value with iloc
car_sales.iloc[1,1]

In [ ]:
# We can use slicing in iloc and loc
car_sales.loc[3:]

In [ ]:
car_sales.iloc[:5,:2]

In [ ]:
# viewing single column of a dataframe
car_sales["Traveled (KM)"]

In [ ]:
# another method for selecting column of a dataframe
car_sales.Colour

In [ ]:
# sorting values using a column
car_sales.sort_values("Doors")

In [ ]:
# sorting values alphabetically
car_sales.sort_values("Brand")

In [ ]:
car_sales.Doors = car_sales.Doors.astype('object')
car_sales.dtypes

In [ ]:
car_sales.Doors.sum()

In [ ]:
car_sales.dtypes

In [ ]:
# sorting in descending order
car_sales.sort_values("Traveled (KM)", ascending=False)

### Filtering using specific values

In [ ]:
# Getting all the white cars and saving to new dataframe
white_cars = car_sales[car_sales["Colour"]=="White"]
white_cars

In [ ]:
# reset index after applying filters
white_cars = white_cars.reset_index(drop=True)
white_cars

In [ ]:
car_sales["Doors"] > 3

In [ ]:
car_sales[car_sales["Doors"]>3]

In [ ]:
# applying multiple filters
car_sales[(car_sales["Traveled (KM)"]<50000) & (car_sales["Doors"]>3)]

In [ ]:
# Crosstab to see number of cars by brand and colour
pd.crosstab(car_sales["Colour"], car_sales["Brand"])

In [ ]:
# Group by to view statistics according to same group
car_sales.groupby(["Brand"]).mean()

In [ ]:
car_sales.groupby(["Colour"]).mean()

### Converting data types of columns in a dataframe

In [ ]:
car_sales

In [ ]:
# Remove unwanted characters from the Prices
car_sales["Price"] = car_sales["Price"].str.replace("[\$\,]", "", regex=True)
car_sales

In [ ]:
# Convert the price column from object to integer.
car_sales["Price"] = car_sales["Price"].astype('float')

In [ ]:
car_sales.dtypes

In [ ]:
car_sales

In [ ]:
# Plot a line plot using pandas
car_sales["Price"].plot(legend=True)
car_sales["Doors"].plot(secondary_y=True, legend=True)

In [ ]:
# Plot a histogram using pandas
car_sales["Price"].hist();

In [ ]:
car_sales["Brand"] = car_sales["Brand"].str.lower()
car_sales

In [ ]:
# Renaming column in pandas
car_sales = car_sales.rename(columns={"Colour": "Color"})
car_sales

### Handling missing values in pandas

In [ ]:
cars_missing = pd.read_csv("car_sales_missing.csv")

In [ ]:
cars_missing

In [ ]:
cars_missing.isna().sum()

In [ ]:
# Filling missing values with the mean of the column
cars_missing["Traveled (KM)"].fillna(cars_missing["Traveled (KM)"].mean(), inplace=True)
cars_missing

In [ ]:
# dropping rows with missing values
cars_missing.dropna()

In [ ]:
cars_missing

In [ ]:
cars_missing.dropna(inplace=True)
cars_missing

In [ ]:
cars_missing.isna().sum()

Other than filling missing values and deleting rows with missing values there are other methods of handling missing values as well. These can be explored in the pandas documentation

### pandas documentation for handling missing values
https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

In [ ]:
car_sales

In [ ]:
# Adding new column from existing ones
car_sales["Fuel used"] = car_sales["Traveled (KM)"]/30
car_sales

In [ ]:
# shuffle the dataframe and get a sample
car_shuffled = car_sales.sample(frac=0.5)
car_shuffled

In [ ]:
# reset index of the dataframe
car_shuffled.reset_index(drop=True, inplace=True)
car_shuffled

### Applying a function to a column

In [ ]:
# Change price from dollars to ruppees using lambda function
car_sales["Price"] = car_sales["Price"].apply(lambda x: x * 116)
car_sales

In [ ]:
def ruppee_to_dollar(ruppee):
    return ruppee/116

In [ ]:
# Apply function using explicit function
car_sales["Price"] = car_sales["Price"].apply(ruppee_to_dollar)
car_sales